<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <title>Gallery Grid</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900%7CRoboto:300,400,500,700,900">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/fonts.css">
    <style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}</style>
  </head>
  <body>
    <div class="ie-panel"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <div class="preloader">
      <div class="banter-loader">
        <div class="banter-loader__box"></div>
        <div class="banter-loader__box"></div>
        <div class="banter-loader__box"></div>
        <div class="banter-loader__box"></div>
        <div class="banter-loader__box"></div>
        <div class="banter-loader__box"></div>
        <div class="banter-loader__box"></div>
        <div class="banter-loader__box"></div>
        <div class="banter-loader__box"></div>
      </div>
    </div>
    <div class="page">
      <header class="section page-header">
              <!-- RD Navbar-->
              <div class="rd-navbar-wrap">
                <nav class="rd-navbar rd-navbar-classic" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="46px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
                  <div class="rd-navbar-aside-outer">
                    <div class="rd-navbar-aside">
                      <div class="rd-navbar-collapse-toggle rd-navbar-fixed-element-1" data-rd-navbar-toggle=".rd-navbar-collapse"><span></span></div>
                      <ul class="rd-navbar-aside-list rd-navbar-collapse">
                        <li>
                          <div class="block-inline unit unit-spacing-xs align-items-center">
                            <div class="unit-left"><span class="icon text-middle mdi mdi-phone"></span></div>
                            <div class="unit-body"><a href="tel:#">1-800-1234-567</a></div>
                          </div>
                        </li>
                        <li>
                          <div class="block-inline unit unit-spacing-xs align-items-center">
                            <div class="unit-left"><span class="icon text-middle mdi mdi-email-outline"></span></div>
                            <div class="unit-body"><a href="mailto:#">info@demolink.org</a></div>
                          </div>
                        </li>
                      </ul>
                      <div class="rd-navbar-aside-item">
                        <div class="block-inline">
                          <button class="unit unit-spacing-xs align-items-center" data-rd-navbar-toggle="#navbar-login-register"><span class="unit-left"><span class="icon text-middle mdi mdi-login"></span></span><span class="unit-body"><span>Login/Register</span></span></button>
                        </div>
                        <div class="rd-navbar-popup bg-gray-12" id="navbar-login-register">
                          <!-- Bootstrap tabs-->
                          <div class="tabs-custom tabs-horizontal tabs-line" id="navbar-tabs">
                            <!-- Nav tabs-->
                            <ul class="nav nav-tabs">
                              <li class="nav-item" role="presentation"><a class="nav-link active" href="#navbar-tabs-1" data-toggle="tab">Login</a></li>
                              <li class="nav-item" role="presentation"><a class="nav-link" href="#navbar-tabs-2" data-toggle="tab">Register</a></li>
                            </ul>
                            <!-- Tab panes-->
                            <div class="tab-content">
                              <div class="tab-pane fade show active" id="navbar-tabs-1">
                                <form class="rd-form form-1"> 
                                  <div class="form-wrap">
                                    <input class="form-input" id="navbar-login-email" type="email" name="email" data-constraints="@Email @Required">
                                    <label class="form-label" for="navbar-login-email">E-mail</label>
                                  </div>
                                  <div class="form-wrap">
                                    <input class="form-input" id="navbar-login-password" type="password" name="password" data-constraints="@Required">
                                    <label class="form-label" for="navbar-login-password">Password</label>
                                  </div>
                                  <div class="form-wrap">
                                    <button class="button button-sm button-primary button-block" type="submit">Sign in</button>
                                  </div>
                                </form>
                              </div>
                              <div class="tab-pane fade" id="navbar-tabs-2">
                                <form class="rd-form form-1">
                                  <div class="form-wrap">
                                    <input class="form-input" id="register-name" type="text" name="username" data-constraints="@Required">
                                    <label class="form-label" for="register-name">Username</label>
                                  </div>
                                  <div class="form-wrap">
                                    <input class="form-input" id="register-email" type="email" name="email" data-constraints="@Email @Required">
                                    <label class="form-label" for="register-email">E-mail</label>
                                  </div>
                                  <div class="form-wrap">
                                    <input class="form-input" id="register-password" type="password" name="password" data-constraints="@Required">
                                    <label class="form-label" for="register-password">Password</label>
                                  </div>
                                  <div class="form-wrap">
                                    <input class="form-input" id="register-password-confirm" type="password" name="password" data-constraints="@Required">
                                    <label class="form-label" for="register-password-confirm">Confirm Password</label>
                                  </div>
                                  <div class="form-wrap">
                                    <button class="button button-sm button-primary button-block" type="submit">Create an Account</button>
                                  </div>
                                  <div class="form-wrap">
                                    <div class="text-decoration-lines"><span class="text-decoration-lines-content">or enter with</span></div>
                                  </div>
                                  <div class="form-wrap">
                                    <div class="button-group"><a class="button button-facebook button-icon button-icon-only" href="#" aria-label="Facebook"><span class="icon mdi mdi mdi-facebook"></span></a><a class="button button-twitter button-icon button-icon-only" href="#" aria-label="Twitter"><span class="icon mdi mdi-twitter"></span></a><a class="button button-google button-icon button-icon-only" href="#" aria-label="Google+"><span class="icon mdi mdi-google"></span></a></div>
                                  </div>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="rd-navbar-main-outer">
                    <div class="rd-navbar-main">
                      <!-- RD Navbar Panel-->
                      <div class="rd-navbar-panel">
                        <!-- RD Navbar Toggle-->
                        <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                        <!-- RD Navbar Brand-->
                        <div class="rd-navbar-brand"><a class="brand" href="index.html"><img class="brand-logo-dark" src="images/logo-default-142x41.png" alt="" width="142" height="41" srcset="images/logo-default-284x82.png 2x"/><img class="brand-logo-light" src="images/logo-inverse-121x61.png" alt="" width="121" height="61" srcset="images/logo-inverse-284x82.png 2x"/></a>
                        </div>
                      </div>
                      <div class="rd-navbar-nav-wrap">
                        <!-- RD Navbar Nav-->
                        <ul class="rd-navbar-nav">
                          <li class="rd-nav-item"><a class="rd-nav-link" href="index.html">Home</a>
                          </li>
                          <li class="rd-nav-item"><a class="rd-nav-link" href="#">Properties</a>
                            <!-- RD Navbar Dropdown-->
                            <ul class="rd-menu rd-navbar-dropdown">
                              <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="properties-grid.html">Properties Grid</a></li>
                              <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="properties-grid-2.html">Properties Grid 2</a></li>
                              <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="properties-list.html">Properties List</a></li>
                              <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="submit-property.html">Submit property</a></li>
                              <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="single-property.html">Single Property</a></li>
                            </ul>
                          </li>
                          <li class="rd-nav-item"><a class="rd-nav-link" href="about-us.html">About Us</a>
                          </li>
                          <li class="rd-nav-item"><a class="rd-nav-link" href="blog.html">Blog</a>
                            <!-- RD Navbar Dropdown-->
                            <ul class="rd-menu rd-navbar-dropdown">
                              <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="blog-post.html">Blog post</a></li>
                            </ul>
                          </li>
                          <li class="rd-nav-item active"><a class="rd-nav-link" href="#">Pages</a>
                            <!-- RD Navbar Megamenu-->
                            <ul class="rd-menu rd-navbar-megamenu">
                              <li class="rd-megamenu-item">
                                <h6 class="rd-megamenu-title">Pages 1</h6>
                                <ul class="rd-megamenu-list">
                                  <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="agents.html">Agents</a></li>
                                  <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="agent-single-page.html">Agent Single Page</a></li>
                                  <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="careers.html">Careers</a></li>
                                  <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="gallery.html">Gallery</a></li>
                                </ul>
                              </li>
                              <li class="rd-megamenu-item">
                                <h6 class="rd-megamenu-title">Pages 2</h6>
                                <ul class="rd-megamenu-list">
                                  <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="search-results.html">Search results</a></li>
                                  <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="coming-soon.html">Coming Soon</a></li>
                                  <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="404.html">404</a></li>
                                  <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="privacy-policy.html">Privacy Policy</a></li>
                                </ul>
                              </li>
                              <li class="rd-megamenu-item">
                                <h6 class="rd-megamenu-title">Elements</h6>
                                <ul class="rd-megamenu-list">
                                  <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="typography.html">Typography</a></li>
                                  <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="buttons.html">Buttons</a></li>
                                  <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="forms.html">Forms</a></li>
                                  <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="tabs-and-accordions.html">Tabs and accordions</a></li>
                                  <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="progress-bars.html">Progress bars</a></li>
                                  <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="tables.html">Tables</a></li>
                                  <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="grid-system.html">Grid System</a></li>
                                </ul>
                              </li>
                            </ul>
                          </li>
                          <li class="rd-nav-item"><a class="rd-nav-link" href="contact-us.html">Contact Us</a>
                          </li>
                        </ul>
                        <div class="rd-navbar-main-item"><a class="button button-sm button-primary" href="#">Submit property</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </nav>
              </div>
      </header>
      <!-- Breadcrumbs-->
      <section class="breadcrumbs-custom bg-image context-dark" data-opacity="38" style="background-image: url(images/breadcrumbs-bg-06-1922x427.jpg);">
        <div class="container">
          <h2 class="breadcrumbs-custom-title">Gallery Grid</h2>
        </div>
      </section>
      <section class="section-xs bg-white">
        <div class="container">
          <ul class="breadcrumbs-custom-path">
            <li><a href="index.html">Home</a></li>
            <li><a href="#">Pages</a></li>
            <li class="active">Gallery Grid</li>
          </ul>
        </div>
      </section>
      <div class="divider-section"></div>
      <section class="section section-md bg-gray-12 oh text-center">
        <div class="container isotope-wrap">
          <!-- Isotope Filters-->
          <div class="isotope-filters isotope-filters-line">
            <ul class="isotope-filters-list" id="isotope-filters">
              <li><a class="active" data-isotope-filter="*" href="#">All</a></li>
              <li><a data-isotope-filter="for-sale" href="#">For Sale</a></li>
              <li><a data-isotope-filter="for-rent" href="#">For Rent</a></li>
            </ul>
          </div>
          <!-- Isotope Content-->
          <div class="isotope row row-50" data-isotope-layout="fitRows">
            <div class="col-sm-6 col-md-4 isotope-item" data-filter="for-sale">
              <!-- Product Modern--><a class="product-modern" href="single-property.html">
                <div class="product-modern-media">
                  <figure class="product-modern-figure"><img class="product-modern-image" src="images/gallery-grid-1-370x230.jpg" alt="" width="370" height="230"/>
                  </figure>
                  <div class="product-modern-overlay"></div>
                </div>
                <div class="product-modern-caption">
                  <h5 class="product-modern-title">401 Biscayne Boulevard, Miami</h5>
                </div></a>
            </div>
            <div class="col-sm-6 col-md-4 isotope-item" data-filter="for-sale">
              <!-- Product Modern--><a class="product-modern" href="single-property.html">
                <div class="product-modern-media">
                  <figure class="product-modern-figure"><img class="product-modern-image" src="images/gallery-grid-2-370x230.jpg" alt="" width="370" height="230"/>
                  </figure>
                  <div class="product-modern-overlay"></div>
                </div>
                <div class="product-modern-caption">
                  <h5 class="product-modern-title">923 Folsom St, San Francisco</h5>
                </div></a>
            </div>
            <div class="col-sm-6 col-md-4 isotope-item" data-filter="for-rent">
              <!-- Product Modern--><a class="product-modern" href="single-property.html">
                <div class="product-modern-media">
                  <figure class="product-modern-figure"><img class="product-modern-image" src="images/gallery-grid-3-370x230.jpg" alt="" width="370" height="230"/>
                  </figure>
                  <div class="product-modern-overlay"></div>
                </div>
                <div class="product-modern-caption">
                  <h5 class="product-modern-title">225 Maywood Dr, San Francisco</h5>
                </div></a>
            </div>
            <div class="col-sm-6 col-md-4 isotope-item" data-filter="for-sale">
              <!-- Product Modern--><a class="product-modern" href="single-property.html">
                <div class="product-modern-media">
                  <figure class="product-modern-figure"><img class="product-modern-image" src="images/gallery-grid-4-370x230.jpg" alt="" width="370" height="230"/>
                  </figure>
                  <div class="product-modern-overlay"></div>
                </div>
                <div class="product-modern-caption">
                  <h5 class="product-modern-title">623 Willow Rd, Dallas</h5>
                </div></a>
            </div>
            <div class="col-sm-6 col-md-4 isotope-item" data-filter="for-rent">
              <!-- Product Modern--><a class="product-modern" href="single-property.html">
                <div class="product-modern-media">
                  <figure class="product-modern-figure"><img class="product-modern-image" src="images/gallery-grid-5-370x230.jpg" alt="" width="370" height="230"/>
                  </figure>
                  <div class="product-modern-overlay"></div>
                </div>
                <div class="product-modern-caption">
                  <h5 class="product-modern-title">182 3rd St, Seattle</h5>
                </div></a>
            </div>
            <div class="col-sm-6 col-md-4 isotope-item" data-filter="for-rent">
              <!-- Product Modern--><a class="product-modern" href="single-property.html">
                <div class="product-modern-media">
                  <figure class="product-modern-figure"><img class="product-modern-image" src="images/gallery-grid-6-370x230.jpg" alt="" width="370" height="230"/>
                  </figure>
                  <div class="product-modern-overlay"></div>
                </div>
                <div class="product-modern-caption">
                  <h5 class="product-modern-title">35 Pond St, New York</h5>
                </div></a>
            </div>
          </div>
        </div>
      </section>
      <!-- Page Footer-->
      <!-- Pre footer section-->
      <section class="section section-md bg-gray-31 context-dark">
        <div class="container">
          <div class="row row-40 justify-content-lg-between">
            <div class="col-md-6 col-lg-4 col-xl-3">
              <h3 class="heading-square font-weight-sbold" data-item=".heading-square-item"><span class="heading-square-item"></span>Latest Properties</h3><a class="post-minimal" href="single-property.html">
                <div class="post-minimal-image"><img src="images/post-minimal-01-161x136.jpg" alt="" width="161" height="136"/>
                </div>
                <div class="post-minimal-body">
                  <div class="post-minimal-title"><span> Retail Store Southwest 186th Street</span></div>
                  <div class="post-minimal-text"><span>From $120/month</span></div>
                </div></a><a class="post-minimal" href="single-property.html">
                <div class="post-minimal-image"><img src="images/post-minimal-02-161x136.jpg" alt="" width="161" height="136"/>
                </div>
                <div class="post-minimal-body">
                  <div class="post-minimal-title"><span> Apartment Building with Subunits</span></div>
                  <div class="post-minimal-text"><span>From $120/month</span></div>
                </div></a>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 col-bordered">
              <h3 class="heading-square font-weight-sbold" data-item=".heading-square-item"><span class="heading-square-item"></span>Contact	Us</h3>
              <div class="link-with-icon heading-4 text-spacing-150 font-sec" data-item=".icon"><span class="icon icon-1 mdi mdi-phone"></span><a href="tel:#">1-800-700-6200</a></div>
              <div class="link-with-icon text-spacing-100" data-item=".icon"><span class="icon icon-2 mdi mdi-email-outline"></span><a href="mailto:#">info@demolink.org</a></div>
              <div class="link-with-icon text-spacing-100" data-item=".icon"><span class="icon icon-3 mdi mdi-map-marker"></span><a href="#">3015 Grand Ave, Coconut<br style="line-height: 0"> Grove,Merrick Way, FL 12345</a></div>
            </div>
            <div class="col-lg-4">
              <h3 class="heading-square font-weight-sbold" data-item=".heading-square-item"><span class="heading-square-item"></span>Newsletter Signup</h3>
              <p class="rd-mailform-label">Enter your e-mail to get the latest news of MyHome</p>
              <form class="rd-form rd-mailform rd-form-inline-1" data-form-output="form-output-global" data-form-type="subscribe" method="post" action="bat/rd-mailform.php">
                <div class="form-wrap">
                  <input class="form-input" id="subscribe-form--email" type="email" name="email" data-constraints="@Email @Required">
                  <label class="form-label" for="subscribe-form--email">Your e-mail</label>
                </div>
                <div class="form-button">
                  <button class="button button-primary button-square" type="submit">Subscribe</button>
                </div>
              </form>
              <ul class="list-inline-1">
                <li><a class="icon fa-facebook" href="#"></a></li>
                <li><a class="icon fa-twitter" href="#"></a></li>
                <li><a class="icon fa-google-plus" href="#"></a></li>
                <li><a class="icon fa-pinterest-p" href="#"></a></li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <!-- Page footer-->
      <footer class="section footer-classic context-dark bg-gray-21">
        <div class="container">
          <div class="row row-10 justify-content-sm-between">
            <div class="col-sm-6">
              <!-- Rights-->
              <p class="rights"><span>MyHome</span> <span>&copy;&nbsp;</span><span class="copyright-year"></span><span>&nbsp;</span><a href="privacy-policy.html">Privacy Policy</a>
              </p>
            </div>
            <div class="col-sm-6 text-sm-right">
              <div class="right-1"><a href="#"><span class="icon mdi mdi-plus"></span>Submit Property</a></div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!-- Javascript-->
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>