{% extends "base.html" %}
{% load static %}

{% block bodycontent %}


<!-- Breadcrumbs-->
<section class="breadcrumbs-custom bg-image context-dark" data-opacity="37"
  style="background-image: url({% static 'images/breadcrumbs-bg-06-1922x427.jpg' %});">
  <div class="container">
    <h2 class="breadcrumbs-custom-title">Properties List</h2>
  </div>
</section>
<section class="section-xs bg-white">
  <div class="container">
    <ul class="breadcrumbs-custom-path">
      <li><a href="index.html">Home</a></li>
      <li><a href="#">Properties</a></li>
      <li class="active">Properties List</li>
    </ul>
  </div>
</section>
<div class="divider-section"></div>
<!-- Properties List-->
<section class="section section-md bg-gray-12">
  <div class="container">
    <div class="row row-50">
      <div class="col-lg-7 col-xl-8">
        <div class="row row-30">
          <div class="col-sm-12">
            <ul class="block-info-1">
              <li>
                <div class="form-wrap-group-1">
                  <div class="form-wrap">
                    <select class="form-input select-filter" data-style="modern" data-placeholder="Publication Date"
                      data-minimum-results-for-search="Infinity" data-constraints="@Required">
                      <option label="placeholder"></option>
                      <option value="2">Monday</option>
                      <option value="3">Tuesday</option>
                      <option value="4">Wednesday</option>
                      <option value="5">Thursday</option>
                      <option value="6">Friday</option>
                      <option value="7">Saturday</option>
                      <option value="8">Sunday</option>
                    </select>
                  </div>
                  <div class="form-wrap">
                    <select class="form-input select-filter" data-style="modern" data-placeholder="Price Low to High"
                      data-minimum-results-for-search="Infinity" data-constraints="@Required">
                      <option label="placeholder"></option>
                      <option value="1">Price Low to High</option>
                      <option value="2">Price High to Low</option>
                      <option value="3">Most Popular</option>
                      <option value="4">Top Rated</option>
                      <option value="5">Best Sellers</option>
                    </select>
                  </div>
                </div>
              </li>
              <li>
                <ul class="list-layout">
                  <li><a class="icon icon-2 fa-reorder active" href="#"></a></li>
                  <li><a class="icon icon-2 mdi mdi-view-grid" href="{% url 'houses.html' %}"></a></li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="col-sm-12">
            <div class="row row-50 row-lg-70">
              <div class="col-12">
                <article class="product-classic product-classic-horizontal">
                  <div class="product-classic-inner">
                    <div class="product-classic-left">
                      <div class="product-classic-media">
                        <div class="owl-carousel" data-items="1" data-nav="true" data-stage-padding="0" data-loop="true"
                          data-margin="0" data-mouse-drag="false"><img
                            src="{% static 'images/featured-properties-13-480x287.jpg' %}" alt="" width="480"
                            height="287" /><img src="{% static 'images/featured-properties-14-480x287.jpg' %}" alt=""
                            width="480" height="287" /><img
                            src="{% static 'images/featured-properties-15-480x287.jpg' %}" alt="" width="480"
                            height="287" /><img src="{% static 'images/featured-properties-16-480x287.jpg' %}" alt=""
                            width="480" height="287" />
                        </div>
                        <div class="product-classic-price"><span>$5000\mo</span></div>
                      </div>
                    </div>
                    <div class="product-classic-right">
                      <h4 class="product-classic-title"><a href="{% url 'single-house.html' %}">401 Biscayne Boulevard,
                          Miami</a>
                      </h4>
                      <div class="product-classic-divider"></div>
                      <div class="product-classic-text">
                        <p>Choose this property if you are looking for a modern house near the ocean shore. With 2
                          bathrooms and 2 bedrooms as well as a single garage, it is a perfect option for a small
                          family.</p>
                      </div>
                    </div>
                  </div>
                  <div class="product-classic-footer">
                    <ul class="product-classic-list">
                      <li><span class="icon hotel-icon-10"></span><span>2 Bathrooms</span></li>
                      <li><span class="icon hotel-icon-05"></span><span>2 Bedrooms</span></li>
                      <li><span class="icon mdi mdi-vector-square"></span><span>480 Sq Ft</span></li>
                      <li><span class="icon hotel-icon-26"></span><span>1 Garage</span></li>
                    </ul>
                  </div>
                </article>
              </div>
              <div class="col-12">
                <article class="product-classic product-classic-horizontal">
                  <div class="product-classic-inner">
                    <div class="product-classic-left">
                      <div class="product-classic-media">
                        <div class="owl-carousel" data-items="1" data-nav="true" data-stage-padding="0" data-loop="true"
                          data-margin="0" data-mouse-drag="false"><img
                            src="{% static 'images/featured-properties-34-480x287.jpg' %}" alt="" width="480"
                            height="287" /><img src="{% static 'images/featured-properties-02-480x287.jpg' %}" alt=""
                            width="480" height="287" /><img
                            src="{% static 'images/featured-properties-03-480x287.jpg' %}" alt="" width="480"
                            height="287" /><img src="{% static 'images/featured-properties-04-480x287.jpg' %}" alt=""
                            width="480" height="287" />
                        </div>
                        <div class="product-classic-price"><span>$9340\mo</span></div>
                      </div>
                    </div>
                    <div class="product-classic-right">
                      <h4 class="product-classic-title"><a href="{% url 'single-house.html' %}">225 Maywood Dr, San
                          Francisco</a>
                      </h4>
                      <div class="product-classic-divider"></div>
                      <div class="product-classic-text">
                        <p>We are glad to introduce our newest property in California that has everything for a sunny
                          state newcomer. The property includes the main house, guest house, play house, and a large
                          swimming pool.</p>
                      </div>
                    </div>
                  </div>
                  <div class="product-classic-footer">
                    <ul class="product-classic-list">
                      <li><span class="icon hotel-icon-10"></span><span>1 Bathroom</span></li>
                      <li><span class="icon hotel-icon-05"></span><span>1 Bedroom</span></li>
                      <li><span class="icon mdi mdi-vector-square"></span><span>435 Sq Ft</span></li>
                      <li><span class="icon hotel-icon-26"></span><span>1 Garage</span></li>
                    </ul>
                  </div>
                </article>
              </div>
              <div class="col-12">
                <article class="product-classic product-classic-horizontal">
                  <div class="product-classic-inner">
                    <div class="product-classic-left">
                      <div class="product-classic-media">
                        <div class="owl-carousel" data-items="1" data-nav="true" data-stage-padding="0" data-loop="true"
                          data-margin="0" data-mouse-drag="false"><img
                            src="{% static 'images/featured-properties-01-480x287.jpg' %}" alt="" width="480"
                            height="287" /><img src="{% static 'images/featured-properties-06-480x287.jpg' %}" alt=""
                            width="480" height="287" /><img
                            src="{% static 'images/featured-properties-07-480x287.jpg' %}" alt="" width="480"
                            height="287" /><img src="{% static 'images/featured-properties-08-480x287.jpg' %}" alt=""
                            width="480" height="287" />
                        </div>
                        <div class="product-classic-price"><span>$2500\mo</span></div>
                      </div>
                    </div>
                    <div class="product-classic-right">
                      <h4 class="product-classic-title"><a href="{% url 'single-house.html' %}">35 Pond St, New York</a>
                      </h4>
                      <div class="product-classic-divider"></div>
                      <div class="product-classic-text">
                        <p>This property is a perfect choice for a young family who are looking for an affordable
                          apartment. With 8 rooms, 2 bedrooms and bathrooms, and a garage, this property offers a lot
                          for a small price.</p>
                      </div>
                    </div>
                  </div>
                  <div class="product-classic-footer">
                    <ul class="product-classic-list">
                      <li><span class="icon hotel-icon-10"></span><span>2 Bathrooms</span></li>
                      <li><span class="icon hotel-icon-05"></span><span>3 Bedrooms</span></li>
                      <li><span class="icon mdi mdi-vector-square"></span><span>430 Sq Ft</span></li>
                      <li><span class="icon hotel-icon-26"></span><span>1 Garage</span></li>
                    </ul>
                  </div>
                </article>
              </div>


            </div>
          </div>
          <div class="col-sm-12">
            <ul class="pagination-custom">
              <li><a class="active" href="#">1</a></li>
              <li><a href="#">2</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-5 col-xl-4">
        <div class="row row-50">
          <div class="col-md-6 col-lg-12">
            <div class="block-info">
              <h3>Find Your Property</h3>
              <form class="rd-mailform form-select" data-form-output="form-output-global" data-form-type="contact"
                method="post" action="bat/rd-mailform.php">
                <div class="form-wrap form-wrap-validation">
                  <select class="form-input select-filter" data-style="modern" data-placeholder="Choose Location"
                    data-minimum-results-for-search="Infinity" data-constraints="@Required">
                    <option label="placeholder"></option>
                    <option value="2">Alaska</option>
                    <option value="3">Arizona</option>
                    <option value="4">Arkansas</option>
                    <option value="5">California</option>
                    <option value="6">Colorado</option>
                    <option value="7">Connecticut</option>
                    <option value="8">Delaware</option>
                    <option value="9">Florida</option>
                  </select><span class="select-arrow"></span>
                </div>
                <div class="form-wrap form-wrap-validation">
                  <select class="form-input select-filter" data-style="modern" data-placeholder="Property Status"
                    data-minimum-results-for-search="Infinity" data-constraints="@Required">
                    <option label="placeholder"></option>
                    <option value="2">Low</option>
                    <option value="3">Middle</option>
                    <option value="4">Primary</option>
                  </select><span class="select-arrow"></span>
                </div>
                <div class="form-wrap form-wrap-validation">
                  <select class="form-input select-filter" data-style="modern" data-placeholder="Property Type"
                    data-minimum-results-for-search="Infinity" data-constraints="@Required">
                    <option label="placeholder"></option>
                    <option value="2">Low</option>
                    <option value="3">Middle</option>
                    <option value="4">Primary</option>
                  </select><span class="select-arrow"></span>
                </div>
                <div class="form-wrap-group">
                  <div class="form-wrap form-wrap-validation">
                    <select class="form-input select-filter" data-style="modern" data-placeholder="Min Price"
                      data-minimum-results-for-search="Infinity" data-constraints="@Required">
                      <option label="placeholder"></option>
                      <option value="2">100 $</option>
                      <option value="3">200 $</option>
                      <option value="4">300 $</option>
                    </select><span class="select-arrow"></span>
                  </div>
                  <div class="form-wrap form-wrap-validation">
                    <select class="form-input select-filter" data-style="modern" data-placeholder="Max Price"
                      data-minimum-results-for-search="Infinity" data-constraints="@Required">
                      <option label="placeholder"></option>
                      <option value="2">1000 $</option>
                      <option value="3">2000 $</option>
                      <option value="4">3000 $</option>
                    </select><span class="select-arrow"></span>
                  </div>
                </div>
                <div class="form-wrap-group">
                  <div class="form-wrap form-wrap-validation">
                    <select class="form-input select-filter" data-style="modern" data-placeholder="Min Area"
                      data-minimum-results-for-search="Infinity" data-constraints="@Required">
                      <option label="placeholder"></option>
                      <option value="2">100 Sq Ft</option>
                      <option value="3">200 Sq Ft</option>
                      <option value="4">300 Sq Ft</option>
                    </select><span class="select-arrow"></span>
                  </div>
                  <div class="form-wrap form-wrap-validation">
                    <select class="form-input select-filter" data-style="modern" data-placeholder="Max Area"
                      data-minimum-results-for-search="Infinity" data-constraints="@Required">
                      <option label="placeholder"></option>
                      <option value="2">1000 Sq Ft</option>
                      <option value="3">2000 Sq Ft</option>
                      <option value="4">3000 Sq Ft</option>
                    </select><span class="select-arrow"></span>
                  </div>
                </div>
                <div class="form-wrap-group">
                  <div class="form-wrap form-wrap-validation">
                    <select class="form-input select-filter" data-style="modern" data-placeholder="Min Resint"
                      data-minimum-results-for-search="Infinity" data-constraints="@Required">
                      <option label="placeholder"></option>
                      <option value="2">100</option>
                      <option value="3">200</option>
                      <option value="4">300</option>
                    </select><span class="select-arrow"></span>
                  </div>
                  <div class="form-wrap form-wrap-validation">
                    <select class="form-input select-filter" data-style="modern" data-placeholder="Max Resint"
                      data-minimum-results-for-search="Infinity" data-constraints="@Required">
                      <option label="placeholder"></option>
                      <option value="2">1000</option>
                      <option value="3">2000</option>
                      <option value="4">3000</option>
                    </select><span class="select-arrow"></span>
                  </div>
                </div>
                <div class="form-button">
                  <button class="button button-block button-primary" type="submit">Search</button>
                </div>
              </form>
            </div>
          </div>
          <div class="col-md-6 col-lg-12">
            <article class="block-callboard">
              <div class="block-callboard-body">
                <h3 class="block-callboard-title">Get a Free Consultation</h3>
                <div class="block-callboard-divider"></div>
                <div class="block-callboard-text">
                  <p>If you have any questions, just call or email us, and we will answer you shortly.</p>
                </div>
                <ul class="block-callboard-list">
                  <li>
                    <div class="block-callboard-tell"><a href="tel:#">+ 123 098 890 76 56</a></div>
                  </li>
                  <li>
                    <div class="block-callboard-mail"><a href="mailto:#">mail@demolink.org</a></div>
                  </li>
                </ul><a class="button button-block button-secondary" href="{% url 'contact-us' %}">Contact us</a>
              </div>
            </article>
          </div>
          <div class="col-md-6 col-lg-12">
            <div class="block-info bg-default">
              <h3>Mortgage Calculator</h3>
              <form class="rd-mailform form-select" data-form-output="form-output-global" data-form-type="contact"
                method="post" action="bat/rd-mailform.php">
                <div class="form-wrap">
                  <input class="form-input" id="contact-1-name" type="text" name="name" data-constraints="@Required">
                  <label class="form-label" for="contact-1-name">Home Value</label>
                </div>
                <div class="form-wrap form-wrap-validation">
                  <select class="form-input select-filter" data-style="modern" data-placeholder="Loan Amount"
                    data-minimum-results-for-search="Infinity" data-constraints="@Required">
                    <option label="placeholder"></option>
                    <option value="2">50000</option>
                    <option value="3">100000</option>
                    <option value="4">200000</option>
                    <option value="5">500000</option>
                    <option value="6">1000000</option>
                    <option value="7">1500000</option>
                  </select>
                </div>
                <div class="form-wrap form-wrap-validation">
                  <select class="form-input select-filter" data-style="modern" data-placeholder="Term (Years)"
                    data-minimum-results-for-search="Infinity" data-constraints="@Required">
                    <option label="placeholder"></option>
                    <option value="2">10</option>
                    <option value="3">15</option>
                    <option value="4">20</option>
                    <option value="5">25</option>
                    <option value="6">30</option>
                    <option value="7">40</option>
                  </select>
                </div>
                <div class="form-wrap form-wrap-validation">
                  <select class="form-input select-filter" data-style="modern" data-placeholder="Interest Rate in %"
                    data-minimum-results-for-search="Infinity" data-constraints="@Required">
                    <option label="placeholder"></option>
                    <option value="2">0.1%</option>
                    <option value="3">0.3%</option>
                    <option value="4">0.5%</option>
                    <option value="5">0.7%</option>
                    <option value="6">0.9%</option>
                    <option value="7">1%</option>
                  </select>
                </div>
                <ul class="form-wrap-list">
                  <li>Financed Amount: <span>0</span>
                  </li>
                  <li>Mortgage Payments: <span>0</span>
                  </li>
                  <li>Annual Cost of Loan: <span>0</span>
                  </li>
                </ul>
                <div class="form-button">
                  <button class="button button-block button-primary" type="submit">Calculate</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}